@page "{pageNumber:int?}"
@model IndexModel
@{
    ViewData["Title"] = "Предложить уровень";
}


<div class="text-center">
    <h5>Здесь вы можете предлложить свой уровень для прохождения на стриме канала Pull Push Play</h5>
    @if (Model.UploadStatus == UploadStatus.Fail)
    {
        <p class="error-text">@Model.StatusMessage</p>
    }
    @if (Model.UploadStatus == UploadStatus.Success)
    {
        <p class="success-text">@Model.StatusMessage</p>
    }
    <form method="post" action="~/Index/1">
        <table>
            <tr>
                <td><label>ID уровня:&nbsp;</label></td>
                <td class="form-right"><input type="number" name="levelid" max="99999999" min="10000000" placeholder="12345678" id="levelid" oninput="OnIDValueChanged(this)" required /></td>
            </tr>
            <tr>
                <td></td>
                <td class="form-right"><input type="submit" value="Предложить" id="submit_level" class="request-button button-disabled" /></td>
            </tr>
        </table>
        
    </form>
    <h3>Список реквестов:</h3>
    <table class="content-table">
        <thead>
            <tr>
                <td>ID уровня</td>
                <td>Дата реквеста</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var level in Model.GetLevelsOnPage())
            {
                <tr>
                    <td>@level.LevelID</td>
                    <td>@(DateTime.UnixEpoch.AddSeconds(level.RequestTime).ToString("g"))</td>
                </tr>
            }
        </tbody>
    </table>
    <p class="pages-button-container">
        @if (Model.PageNumber > 3)
        {
            <a href="/Index/1">1</a>
        }
        @if (Model.PageNumber > 4)
        {
            <b>...</b>
        }
        @if (Model.PageNumber > 2)
        {
            <a href="/Index/@(Model.PageNumber - 2)">@(Model.PageNumber - 2)</a>
        }
        @if (Model.PageNumber > 1)
        {
            <a href="/Index/@(Model.PageNumber - 1)">@(Model.PageNumber - 1)</a>
        }
        <b>@Model.PageNumber</b>
        @if (Model.PageNumber < Model.LastPageNumber)
        {
            <a href="/Index/@(Model.PageNumber+1)">@(Model.PageNumber+1)</a>
        }
        @if (Model.PageNumber < Model.LastPageNumber - 1)
        {
            <a href="/Index/@(Model.PageNumber+2)">@(Model.PageNumber+2)</a>
        }
        @if (Model.PageNumber < Model.LastPageNumber - 3)
        {
            <b>...</b>
        }
        @if (Model.PageNumber < Model.LastPageNumber - 2)
        {
            <a href="/Index/@(Model.LastPageNumber)">@(Model.LastPageNumber)</a>
        }
    </p>
    <script type="text/javascript">
        function OnIDValueChanged(sender) {
            if (sender.validity.valid) {
                document.getElementById("submit_level").classList.remove("button-disabled");
            }
            else {
                document.getElementById("submit_level").classList.add("button-disabled");
            }
        }

    </script>

</div>
